[submodule "java/external/java-etherpad-lite"]
	path = java/external/java-etherpad-lite
	url = git://github.com/hcs64/java-etherpad-lite.git
[submodule "java/external/JSON-java"]
	path = java/external/JSON-java
	url = git@github.com:douglascrockford/JSON-java.git
